<footer class="footer">
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  <ul>
    <li><%= link_to "About", static_pages_about_path %></li>
    <li><%= link_to "Contact", static_pages_contact_path %></li>
  </ul>
</footer>